#define BIN_LOADER
#include "config.h"
#include "resources.h"

#define LOADIMG(name, path) name PNG_IMG path
IMAGES
#undef LOADIMG
#ifndef DISABLE_FONTS
#define LOADFONT(name, path) name TTF_FONT path
FONTS
#undef LOADFONT
#endif
#ifndef DISABLE_TILEMAP
#define LOADMAP(name, path) name TILEMAP path
MAPS
#undef LOADMAP
#endif
#ifndef DISABLE_MIXER
#define LOADSFX(name, path) name SFX path
SFX
#undef LOADSFX
#endif

#undef BIN_LOADER
