#define BIN_LOADER
#include "config.h"
#include "resources.h"

#define LOADIMG(name, path) name PNG_IMG path
IMAGES
#undef LOADIMG
#ifndef DISABLE_FONTS
#define LOADFONT(name, path) name TTF_FONT path
FONTS
#undef LOADFONT
#endif

#undef BIN_LOADER
